<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mercandalli.android.apps.files">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.mercandalli.android.apps.files.permission.MAPS_RECEIVE" />

    <uses-sdk tools:overrideLibrary="com.romainpiel.shimmer, android.support.test.uiautomator.v18" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.mercandalli.android.apps.files.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <permission
        android:name="com.mercandalli.android.apps.files.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mercandalli.android.apps.files.permission.C2D_MESSAGE" />

    <uses-permission
        android:name="com.google.android.c2dm.intent.RECEIVE"
        android:required="false" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        android:required="false" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.SEND"
        android:required="false" />

    <application
        android:name=".main.FileApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".user.LoginRegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".file.text.FileTextActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".file.video.FileVideoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".file.image.FileImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeImage"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".file.audio.FileAudioActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.music.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
            -->
        </activity>

        <receiver
            android:name=".file.audio.NotificationAudioPlayerReceiver"
            android:exported="false" />

        <activity
            android:name=".file.filespace.FileTimerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".file.local.SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".user.ConversationActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".settings.LicenseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <service android:name=".file.audio.WearableService">
            <!-- http://tools.android.com/tech-docs/bind-listener -->
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/prefix"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <!-- region Analytics -->
        <!--
          Optionally, register AnalyticsReceiver and AnalyticsService to support background
          dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".file.audio.cast.FileAudioPresentationService"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <!-- endregion -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDQnix0ebkhokWcBkXZNNcWVu-kQcSG_8g" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9e044dd857b2ddabd24e6e1dfce92efabe4ed0d9" />

        <!-- region - Tile on Android >= 7.0 notification quick settings -->
        <service
            android:name=".tile.QuickSettingsTileService"
            android:icon="@drawable/ic_folder_open_white_24dp"
            android:label="Launch FileSpace"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <!-- endregion - Tile on Android >= 7.0 notification quick settings -->

        <!-- region - File path with Android N -->
        <!-- http://stackoverflow.com/questions/38200282/android-os-fileuriexposedexception-file-storage-emulated-0-test-txt-exposed -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- endregion - File path with Android N -->

    </application>

</manifest>
